@import "../variables.styl"

.AboutSection
  responsive-container()
  margin-top: $header-height

  &__Image
    float: left
    margin-right: 24px
    min-width: 360px
    border-radius: 6px
    @media (max-width: 991px)
      display: none !important
  &__Text
    line-height: 1.5em
    @media (max-width: 767px)
      margin: 0 16px
      font-size: $font-size-small
    p
      margin-bottom: 1em
