@import "./variables.styl"

body
  font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: $font-size-large
  color: $text-primary
  background-color: $color-primary
  margin: 0
  
  #___gatsby
    background-image: linear-gradient(white, $color-primary)

  strong
    font-weight: bold

a
  color: $text-link
  text-decoration: none
  &:hover
    color: $text-link-hover
    text-decoration: underline
