@import "./variables.styl"

body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  color: $text-primary
  margin: 0

  strong
    font-weight: bold

a
  color: $text-link
  text-decoration: none
  &:hover
    color: $text-link-hover
    text-decoration: underline
    
footer
  text-align: right
  line-height: 3em
  color: $text-secondary
  font-size: $font-size-small
